# Caminho para o arquivo JSON da chave de serviço do Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=/Users/renato/Desktop/sua-chave.json

# Flask
FLASK_SECRET_KEY=change-this-to-a-random-secret
FLASK_ENV=development
